<?xml version="1.0" encoding="UTF-8"?>
<wep-app>
    <display-name>Exercise 2+3</display-name>
    <session-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    
    <servlet>  
        <servlet-name>profile</servlet-name>  
        <servlet-class>ProfileController</servlet-class>  
    </servlet>  
    
    <servlet-mapping>  
        <servlet-name>profile</servlet-name>  
        <url-pattern>/profile</url-pattern>  
    </servlet-mapping>  
    
    <filter>  
        <filter-name>permissionFilter</filter-name>  
        <filter-class>AuthorizationFilter</filter-class>  
    </filter>
    <filter-mapping>  
        <filter-name>permissionFilter</filter-name>  
        <url-pattern>/profile</url-pattern>  
    </filter-mapping>
</wep-app>